@using Microsoft.Marketplace.SaaS.SDK.Services.Models
@using Microsoft.Marketplace.SaasKit.Client.DataAccess.Entities;
@model PlansModel
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/jquery-ui/style.css" rel="stylesheet" />
    <script src="~/lib/jquery-ui/jquery-1.12.4.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
</head>
<body>


    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
    <div class="text-center mt20">
        <div class="card card-header">
            <dl class="row">
                <dt class="col-2 text-right"><b>Offer Name</b></dt>
                <dd class="col-3 text-left">@Model.OfferName</dd>
                <dt class="col-3 text-right"><b>Plan name</b></dt>
                <dd class="col-4 text-left">@Model.DisplayName</dd>
            </dl>
        </div>
        <form method="post" id="frmPlanEvents" asp-action="PlanDetails" asp-controller="Plans">
            <div>
                @Html.HiddenFor(model => model.OfferID)
                @Html.HiddenFor(model => model.PlanGUID)
                @Html.HiddenFor(model => model.Id)
            </div>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-Parameters">Parameters</a></li>
                    <li><a href="#tabs-Events">Events</a></li>
                    <li><a href="#tabs-Dimensions">Dimensions</a></li>
                </ul>
                <div id="tabs-Parameters">
                    <div id="PlanAttributes">
                        @if (Model.PlanAttributes != null && Model.PlanAttributes.Count() > 0)
                        {
                            <table class="table table-bordered dt-responsive cm-table" id="tblcontainer">
                                <theader>
                                    <tr>
                                        <th>DisplayName</th>
                                        <th>Enable</th>
                                    </tr>
                                </theader>
                                <tbody id="ReplacingTable">
                                    @for (int i = 0; i < Model.PlanAttributes.Count(); i++)
                                    {


                                        <tr id="tr_PlanAttributes_@i" class="@Model.PlanAttributes[i].Type">
                                            <td>
                                                <input id="PlanAttributes[@i].PlanAttributeId" type="hidden" value="@Model.PlanAttributes[i].PlanAttributeId" class="iHidden" name="PlanAttributes[@i].PlanAttributeId" />
                                                <input id="PlanAttributes[@i].OfferAttributeId" type="hidden" value="@Model.PlanAttributes[i].OfferAttributeId" class="iHidden" name="PlanAttributes[@i].OfferAttributeId" />
                                                <input id="PlanAttributes[@i].PlanId" type="hidden" value="@Model.PlanAttributes[i].PlanId" class="iHidden" name="PlanAttributes[@i].PlanId" />
                                                <input id="PlanAttributes[@i].Type" type="hidden" value="@Model.PlanAttributes[i].Type" class="iHidden" name="PlanAttributes[@i].Type" />
                                                @Model.PlanAttributes[i].DisplayName
                                            </td>
                                            <td>
                                                @*<input type="checkbox" id="PlanAttributes[@i].IsEnabled" name="OfferAttributes[@i].IsEnabled" value="@Model.PlanAttributes[i].IsEnabled" />*@
                                                @Html.CheckBoxFor(model => model.PlanAttributes[i].IsEnabled, new { name = "PlanAttributes[@i].IsEnabled", id = string.Format("PlanAttributes_IsEnabled_{0}", @i) })
                                            </td>
                                        </tr>


                                    }
                                </tbody>
                            </table>
                        }
                        <div style="text-align:right;">
                            <p>
                                <input class="cm-button-default mt0" type="button" onclick="savePlanParameters()" value="Save Parameters" />
                            </p>
                        </div>
                    </div>
                </div>
                <div id="tabs-Events">
                    <div id="PlanEvents">
                        @if (Model.PlanEvents != null && Model.PlanEvents.Count() > 0)
                        {
                            <table class="table table-bordered dt-responsive cm-table" id="tblcontainer">
                                <theader>
                                    <tr>
                                        <th>Event Name</th>
                                        <th>Active</th>
                                        <th>Copy To Customer</th>
                                        <th>
                                            Success Event Emails
                                        </th>
                                        <th>
                                            Failure Event Emails
                                        </th>
                                    </tr>
                                </theader>
                                <tbody id="ReplacingTable">
                                    @for (int i = 0; i < Model.PlanEvents.Count(); i++)
                                    {


                                        <tr id="tr_PlanEvents_@i">
                                            <td>
                                                <input id="PlanEvents_Id_@i" type="hidden" value="@Model.PlanEvents[i].Id" class="iHidden" name="PlanEvents[@i].Id" />
                                                <input id="PlanEvents_PlanId_@i" type="hidden" value="@Model.PlanEvents[i].PlanId" class="iHidden" name="PlanEvents[@i].PlanId" />
                                                <input id="PlanEvents_EventId_@i" type="hidden" value="@Model.PlanEvents[i].EventId" class="iHidden" name="PlanEvents[@i].EventId" />
                                                @*<input type="text" style="width:70px;" id="PlanAttributes[@i].DisplayName" name="PlanAttributes[@i].DisplayName" value="@Model.PlanAttributes[i].DisplayName" />*@
                                                @Model.PlanEvents[i].EventName
                                            </td>
                                            <td>
                                                @Html.CheckBoxFor(model => model.PlanEvents[i].Isactive, new { name = "PlanEvents[@i].Isactive", id = string.Format("PlanEvents_Isactive_{0}", @i) })
                                                @*<input type="checkbox" id="PlanEvents_IsEnabled_@i" name="PlanEvents[@i].IsEnabled" value="@Model.PlanEvents[i].IsEnabled" />*@
                                            </td>
                                            <td>
                                                @Html.CheckBoxFor(model => model.PlanEvents[i].CopyToCustomer, new { name = "PlanEvents[@i].CopyToCustomer", id = string.Format("PlanEvents_CopyToCustomer_{0}", @i) })
                                                @*<input type="checkbox" id="PlanEvents_IsEnabled_@i" name="PlanEvents[@i].IsEnabled" value="@Model.PlanEvents[i].IsEnabled" />*@
                                            </td>
                                            <td><input type="text" style="width:200px;" id="PlanEvents_SuccessStateEmails_@i" name="PlanEvents[@i].SuccessStateEmails" value="@Model.PlanEvents[i].SuccessStateEmails" /></td>
                                            <td><input type="text" style="width:200px;" id="PlanEvents_FailureStateEmails_@i" name="PlanEvents[@i].FailureStateEmails" value="@Model.PlanEvents[i].FailureStateEmails" /></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        <div style="text-align:right;">
                            <p>
                                <input class="cm-button-default mt0" type="button" onclick="savePlanParameters()" value="Save Events" />
                            </p>
                        </div>
                    </div>
                </div>
                <div id="tabs-Dimensions">
                    <div id="PlanDimensions">
                        <div calss="text-right maxwidth" style="width:1300px;">
                            <input class="cm-button-default mt0" style="float:left;line-height:10px; background-color: #2E8B57;" type="button" id="btndimensionAdd" value="Add new dimension" />
                        </div>
                        @if (Model.PlanDimensions != null && Model.PlanDimensions.Count() > 0)
                        {
                            <table class="table table-bordered dt-responsive cm-table" id="tbldimensioncontainer">
                                <theader>
                                    <tr>
                                        <th>Dimension Name</th>
                                        <th>Description</th>
                                        <th>Remove</th>
                                    </tr>
                                </theader>
                                <tbody id="dimensionReplacingTable">
                                    @for (int i = 0; i < Model.PlanDimensions.Count(); i++)
                                    {
                                        if (Model.PlanDimensions[i].IsActive == true)
                                        {
                                            <tr id="tr_PlanDimensions_@i">
                                                <td>
                                                    <input id="PlanDimensions_Id_@i" type="hidden" value="@Model.PlanDimensions[i].Id" class="iHidden" name="PlanDimensions[@i].Id" />
                                                    <input id="PlanDimensions_PlanId_@i" type="hidden" value="@Model.PlanDimensions[i].PlanId" class="iHidden" name="PlanDimensions[@i].PlanId" />
                                                    <input id="PlanDimensions_CreatedDate_@i" type="hidden" value="@Model.PlanDimensions[i].CreatedDate" class="iHidden" name="PlanDimensions[@i].CreatedDate" />
                                                    <input type="text" style="width:200px;" id="PlanDimensions_Dimension_@i" name="PlanDimensions[@i].Dimension" value="@Model.PlanDimensions[i].Dimension" />

                                                </td>
                                                <td><input type="text" style="width:200px;" id="PlanDimensions_Description_@i" name="PlanDimensions[@i].Description" value="@Model.PlanDimensions[i].Description" /></td>
                                                <td>
                                                    <input id="btnRemove" class="cm-button-default mt0" style="line-height:10px;background-color: #B22222; width:100px; text-align: left;" type="button" value="Remove" onclick="removeRow(@i);" />
                                                    <input type="hidden" value="@Model.PlanDimensions[i].IsActive.ToString()" id="PlanDimensions_IsActive_@i" name="PlanDimensions[@i].IsActive" />
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        <table class="table table-bordered dt-responsive cm-table" id="tbldynamicdimensioncontainer" style="display:none;">
                            <tbody id="DynamicReplacingTable">
                                <tr id="tr_PlanDimensions_itemIndex">
                                    <td>
                                        <input id="PlanDimensions_Id_itemIndex" type="hidden" class="iHidden" name="PlanDimensions[itemIndex].Id" />
                                        <input id="PlanDimensions_PlanId_itemIndex" type="hidden" class="iHidden" name="PlanDimensions[itemIndex].PlanId" />
                                        <input id="PlanDimensions_CreatedDate_itemIndex" type="hidden" class="iHidden" name="PlanDimensions[itemIndex].CreatedDate" />
                                        <input type="text" style="width:200px;" id="PlanDimensions_Dimension_itemIndex" name="PlanDimensions[itemIndex].Dimension" />

                                    </td>
                                    <td><input type="text" style="width:200px;" id="PlanDimensions_Description_itemIndex" name="PlanDimensions[itemIndex].Description" /></td>
                                    <td>
                                        <input id="btnRemove" class="cm-button-default mt0" style="line-height:10px;background-color: #B22222; width:90px; text-align: left;" type="button" value="Remove" onclick="removeRow(itemIndex);" />
                                        <input type="hidden" id="PlanDimensions_IsActive_itemIndex" name="PlanDimensions[itemIndex].IsActive" />
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align:right;">
                            <p>
                                <input class="cm-button-default mt0" type="button" onclick="savePlanParameters()" value="Save Dimensions" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</body>
<script>
    $(function () {
        $("#btndimensionAdd").click(function (e) {
            //$('#tblcontainer').show();
            //var itemIndex = $("#tblcontainer input.iHidden").length;
            var itemIndex = $("#dimensionReplacingTable > tr").length;
            e.preventDefault();
            var newItem = $("#DynamicReplacingTable").html();
            var findstrinig = 'itemIndex';
            var regx = new RegExp(findstrinig, 'g');
            newItem = newItem.replace(regx, itemIndex);
            //$("<tr id='tr_OfferAttributes_" + itemIndex + "__Id'><td><input id='OfferAttributes_" + itemIndex + "__Id' type='hidden' value='" + itemIndex + "' class='iHidden' name='OfferAttributes[" + itemIndex + "].Id' /><input type='text' style='width:70px;' id='OfferAttributes_" + itemIndex + "__ParameterId' name='OfferAttributes[" + itemIndex + "].ParameterId' /></td><td><input type='text' style='width:70px;' id='OfferAttributes_" + itemIndex + "__DisplayName' name='OfferAttributes[" + itemIndex + "].DisplayName' /></td><td><input type='text' style='width:70px;' id='OfferAttributes_" + itemIndex + "__Description' name='OfferAttributes[" + itemIndex + "].Description' /></td><td><input type='text' style='width:70px;' id='OfferAttributes_" + itemIndex + "__ValueTypeId' name='OfferAttributes[" + itemIndex + "].ValueTypeId' /></td><td><input type='checkbox' value='true' id='OfferAttributes_" + itemIndex + "__FromList' name='OfferAttributes[" + itemIndex + "].FromList' /></td><td><input type='text' style='width:70px;' id='OfferAttributes_" + itemIndex + "__ValuesList' name='OfferAttributes[" + itemIndex + "].ValuesList' /></td><td><input type='text' style='width:70px;' id='OfferAttributes_" + itemIndex + "__Max' name='OfferAttributes[" + itemIndex + "].Max' /></td><td><input type='text' style='width:70px;' id='OfferAttributes_" + itemIndex + "__Min' name='OfferAttributes[" + itemIndex + "].Min' /></td><td><input type='text' style='width:70px;' id='OfferAttributes_" + itemIndex + "__OfferID' name='OfferAttributes[" + itemIndex + "].OfferID' /></td><td><input type='text' style='width:70px;' id='OfferAttributes_" + itemIndex + "__Type' name='OfferAttributes[" + itemIndex + "].Type' /></td><td><input type='text' style='width:70px;' id='OfferAttributes_" + itemIndex + "__DisplaySequence' name='OfferAttributes[" + itemIndex + "].DisplaySequence' /></td><td><input type='checkbox' value='true' id='OfferAttributes_" + itemIndex + "__Isactive' name='OfferAttributes[" + itemIndex + "].Isactive' /></td> <td><input id='btnRemoveBook' class='cm-button-default mt0' type='button' value='Remove' onclick='removeRow(" + itemIndex + ");' /></td><input type='hidden' value='' id='OfferAttributes_" + itemIndex + "__IsRemove' name='OfferAttributes[" + itemIndex + "].IsRemove' /></tr>");
            $("#dimensionReplacingTable").append(newItem);
        });
    });

    function removeRow(id) {
        debugger;
        var controlToBeRemoved = "#tr_PlanDimensions_" + id;
        var Id = "#PlanDimensions_Id_" + id;
        if ($(Id).val() > 0)
            $("#PlanDimensions_IsActive_" + id).val(false);
        $(controlToBeRemoved).hide();
    }


    function successconfirmDialog() {
        swal({
            title: "Saved",
            text: "Plan parameters saved successfully.",
            icon: "success",
            timer: 1000
        })
    }
    function errorconfirmDialog() {
        swal({
            title: "Error",
            text: "An error has occured, please check the log.",
            icon: "error",
            timer: 1000
        })
    }
    function savePlanParameters() {
        debugger;
        var formobject = $('#frmPlanEvents').serialize();
        $.ajax({
            url: 'Plans/PlanDetails',
            type: 'POST',
            data: formobject,
            cache: false,
            success: function (result) {
                debugger;
                successconfirmDialog();
                $('#myModal').html(result);
            },
            Error:
                function (result) {
                    errorconfirmDialog();
                    $('#myModal').html(result);
                }
        });
    }

</script>