<div>
    <table id="table" class="table table-bordered dt-responsive  mt20 -ml100" style="table-layout:fixed;width: 130% ! important" cellspacing="0">
        <thead class="cm-table-head">
            <tr>
                <th style="width:25%">Filename</th>
                <th style="width:15%">UploadOn</th>
                <th style="width:45%">Request</th>
                <th style="width:45%">Response</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.batchUsageUploadHistorylist.Count; i++)
            {
                var batch = Model.batchUsageUploadHistorylist[i];
                <tr>
                    <td class="text-left">@batch.Filename</td>
                    <td class="text-left">
                        <input id="batchUsageuploadHistory[@i].UploadedBy" type="hidden" value="@Model.batchUsageUploadHistorylist[i].UploadBy" class="iHidden" name="batchUsageUploadHistorylist[@i].UploadedBy" />
                        <input id="batchUsageuploadHistory[@i].Id" type="hidden" value="@Model.batchUsageUploadHistorylist[i].Id" class="iHidden" name="batchUsageUploadHistorylist[@i].Id" />
                        @batch.UploadDate.ToString("MM/dd/yyyy")
                    </td>
                    <td class="text-left">@batch.Request</td>
                    <td class="word-wrap text-left">@batch.Response</td>

                </tr>
            }
        </tbody>
    </table>
</div>